header {
	background-color: #E85117;
}

main {
	transition: all .3s ease-out;
	width: 100%;
	padding-left: 10px;
	margin: auto;
	background-color: #fcf2e2;
}

iframe {
	width: 561px;
	max-width: 100%;
}

.sidebar {
	text-align: center;
	height: 100%;
	width: 20%;
	max-width: 1500px;
	min-width: 100px;
	float: right;
	overflow: auto;
}

.sidebar__display {
	background-color: #E85117;
	color: #E8B017;
}

.sidebar__display-p {
	display: block;
}

.header__h1 {
	text-align: center;
	color: #E8B017;
}

.header__img {
	height: 10%;
	width: 10%;
	float: left;
}

.header-nav__shortcuts-a {
	color: #E8B017;
}